In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tesla_2018_to_2020.csv")
pd.option_context('display.max_rows', None)

In [3]:
df

,Unnamed: 0,created_at,id_str,conversation_id_str,full_text,lang,favorited,retweeted,retweet_count,favorite_count,...,user_id_str,user_name,user_full_name,user_verified,in_reply_to_status_id_str,in_reply_to_user_id_str,hashtags,mentions,urls,media
0,0,2020-06-01T22:59:51+00:00,1267591722126598144,1267591722126598144,I just got hired at Tesla! God is good.,en,False,False,0,19,...,247611935,J0rdan0re0,Jordy,False,NaN,NaN,NaN,NaN,NaN,[]
1,1,2020-06-01T22:59:49+00:00,1267591711905026048,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,False,False,0,0,...,160589441,pranasoddm,ますだんでぃー,False,NaN,NaN,#nowplaying,NaN,NaN,"[{""url"": ""https://pbs.twimg.com/media/EZdj8TtV..."
2,2,2020-06-01T22:58:40+00:00,1267591424628973574,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,False,False,0,0,...,578148290,RetroMusicVideo,Retro Music Videos,False,NaN,NaN,NaN,YouTube,https://t.co/9Lj4jvF8KR,[]
3,3,2020-06-01T22:58:21+00:00,1267591344299683841,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,False,False,0,0,...,1009977973942964226,blackarcintel,BlackArc Intel,False,NaN,NaN,NaN,NaN,https://t.co/6tuA2dVcLf,[]
4,4,2020-06-01T22:57:35+00:00,1267591151487418372,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,False,False,0,0,...,830407971565867008,RusticMahn,REDorDEAD!,False,NaN,NaN,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3273942,840674,2018-06-01T21:04:20+00:00,1002657120527966208,1002657120527966208,The best haiku in the world has only two sylla...,en,False,False,0,3,...,961027995019264000,Tesla_Starman,Starman,False,NaN,NaN,#OdeToMyCoffee,NaN,NaN,[]
3273943,840678,2018-06-01T21:02:59+00:00,1002656781955317760,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,False,False,9,28,...,961027995019264000,Tesla_Starman,Starman,False,NaN,NaN,#OdeToMyCoffee,NaN,NaN,[]
3273944,840859,2018-06-01T19:59:13+00:00,1002640730899210240,1002640730899210240,Everyone’s records will be broken one day but ...,en,False,False,0,0,...,366871249,Catchphrase_j,OG Polo shirt™,False,NaN,NaN,NaN,NaN,NaN,[]
3273945,840873,2018-06-01T19:53:19+00:00,1002639248602722304,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,False,False,10,91,...,349249475,GerberKawasaki,Ross Gerber,True,NaN,NaN,#tesla,NaN,NaN,[]
3273946,840977,2018-06-01T19:07:27+00:00,1002627705219584000,1002627705219584000,Tweet us your questions today for Elon to answ...,en,False,False,275,3057,...,13298072,Tesla,Tesla,True,NaN,NaN,NaN,NaN,NaN,[]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3273947 entries, 0 to 3273946
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int64
 1   created_at                 object
 2   id_str                     int64
 3   conversation_id_str        int64
 4   full_text                  object
 5   lang                       object
 6   favorited                  bool
 7   retweeted                  bool
 8   retweet_count              int64
 9   favorite_count             int64
 10  reply_count                int64
 11  quote_count                int64
 12  quoted_status_id_str       float64
 13  quoted_status_short_url    float64
 14  quoted_status_expand_url   float64
 15  user_id_str                int64
 16  user_name                  object
 17  user_full_name             object
 18  user_verified              bool
 19  in_reply_to_status_id_str  float64
 20  in_reply_to_user_id_str    float64
 21  hashtags                   object
 22  mentions                   object
 23  urls                       object
 24  media                      object
dtypes: bool(3), float64(5), int64(8), object(9)
memory usage: 558.9+ MB

In [5]:
df = df.drop_duplicates()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int64
 1   created_at                 object
 2   id_str                     int64
 3   conversation_id_str        int64
 4   full_text                  object
 5   lang                       object
 6   favorited                  bool
 7   retweeted                  bool
 8   retweet_count              int64
 9   favorite_count             int64
 10  reply_count                int64
 11  quote_count                int64
 12  quoted_status_id_str       float64
 13  quoted_status_short_url    float64
 14  quoted_status_expand_url   float64
 15  user_id_str                int64
 16  user_name                  object
 17  user_full_name             object
 18  user_verified              bool
 19  in_reply_to_status_id_str  float64
 20  in_reply_to_user_id_str    float64
 21  hashtags                   object
 22  mentions                   object
 23  urls                       object
 24  media                      object
dtypes: bool(3), float64(5), int64(8), object(9)
memory usage: 583.9+ MB

In [7]:
df = df.drop(['favorited','retweeted','retweet_count','favorite_count','reply_count'], axis=1)

In [8]:
df

,Unnamed: 0,created_at,id_str,conversation_id_str,full_text,lang,quote_count,quoted_status_id_str,quoted_status_short_url,quoted_status_expand_url,user_id_str,user_name,user_full_name,user_verified,in_reply_to_status_id_str,in_reply_to_user_id_str,hashtags,mentions,urls,media
0,0,2020-06-01T22:59:51+00:00,1267591722126598144,1267591722126598144,I just got hired at Tesla! God is good.,en,0,NaN,NaN,NaN,247611935,J0rdan0re0,Jordy,False,NaN,NaN,NaN,NaN,NaN,[]
1,1,2020-06-01T22:59:49+00:00,1267591711905026048,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,0,NaN,NaN,NaN,160589441,pranasoddm,ますだんでぃー,False,NaN,NaN,#nowplaying,NaN,NaN,"[{""url"": ""https://pbs.twimg.com/media/EZdj8TtV..."
2,2,2020-06-01T22:58:40+00:00,1267591424628973574,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,0,NaN,NaN,NaN,578148290,RetroMusicVideo,Retro Music Videos,False,NaN,NaN,NaN,YouTube,https://t.co/9Lj4jvF8KR,[]
3,3,2020-06-01T22:58:21+00:00,1267591344299683841,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,0,NaN,NaN,NaN,1009977973942964226,blackarcintel,BlackArc Intel,False,NaN,NaN,NaN,NaN,https://t.co/6tuA2dVcLf,[]
4,4,2020-06-01T22:57:35+00:00,1267591151487418372,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,0,NaN,NaN,NaN,830407971565867008,RusticMahn,REDorDEAD!,False,NaN,NaN,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3273942,840674,2018-06-01T21:04:20+00:00,1002657120527966208,1002657120527966208,The best haiku in the world has only two sylla...,en,0,NaN,NaN,NaN,961027995019264000,Tesla_Starman,Starman,False,NaN,NaN,#OdeToMyCoffee,NaN,NaN,[]
3273943,840678,2018-06-01T21:02:59+00:00,1002656781955317760,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,1,NaN,NaN,NaN,961027995019264000,Tesla_Starman,Starman,False,NaN,NaN,#OdeToMyCoffee,NaN,NaN,[]
3273944,840859,2018-06-01T19:59:13+00:00,1002640730899210240,1002640730899210240,Everyone’s records will be broken one day but ...,en,0,NaN,NaN,NaN,366871249,Catchphrase_j,OG Polo shirt™,False,NaN,NaN,NaN,NaN,NaN,[]
3273945,840873,2018-06-01T19:53:19+00:00,1002639248602722304,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,3,NaN,NaN,NaN,349249475,GerberKawasaki,Ross Gerber,True,NaN,NaN,#tesla,NaN,NaN,[]
3273946,840977,2018-06-01T19:07:27+00:00,1002627705219584000,1002627705219584000,Tweet us your questions today for Elon to answ...,en,56,NaN,NaN,NaN,13298072,Tesla,Tesla,True,NaN,NaN,NaN,NaN,NaN,[]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 20 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Unnamed: 0                 int64
 1   created_at                 object
 2   id_str                     int64
 3   conversation_id_str        int64
 4   full_text                  object
 5   lang                       object
 6   quote_count                int64
 7   quoted_status_id_str       float64
 8   quoted_status_short_url    float64
 9   quoted_status_expand_url   float64
 10  user_id_str                int64
 11  user_name                  object
 12  user_full_name             object
 13  user_verified              bool
 14  in_reply_to_status_id_str  float64
 15  in_reply_to_user_id_str    float64
 16  hashtags                   object
 17  mentions                   object
 18  urls                       object
 19  media                      object
dtypes: bool(1), float64(5), int64(5), object(9)
memory usage: 502.7+ MB

In [10]:
df = df.drop(['quote_count','quoted_status_id_str','quoted_status_short_url','quoted_status_expand_url','in_reply_to_status_id_str','in_reply_to_user_id_str'], axis=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   created_at           object
 2   id_str               int64
 3   conversation_id_str  int64
 4   full_text            object
 5   lang                 object
 6   user_id_str          int64
 7   user_name            object
 8   user_full_name       object
 9   user_verified        bool
 10  hashtags             object
 11  mentions             object
 12  urls                 object
 13  media                object
dtypes: bool(1), int64(4), object(9)
memory usage: 352.8+ MB

In [12]:
df

,Unnamed: 0,created_at,id_str,conversation_id_str,full_text,lang,user_id_str,user_name,user_full_name,user_verified,hashtags,mentions,urls,media
0,0,2020-06-01T22:59:51+00:00,1267591722126598144,1267591722126598144,I just got hired at Tesla! God is good.,en,247611935,J0rdan0re0,Jordy,False,NaN,NaN,NaN,[]
1,1,2020-06-01T22:59:49+00:00,1267591711905026048,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,160589441,pranasoddm,ますだんでぃー,False,#nowplaying,NaN,NaN,"[{""url"": ""https://pbs.twimg.com/media/EZdj8TtV..."
2,2,2020-06-01T22:58:40+00:00,1267591424628973574,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,578148290,RetroMusicVideo,Retro Music Videos,False,NaN,YouTube,https://t.co/9Lj4jvF8KR,[]
3,3,2020-06-01T22:58:21+00:00,1267591344299683841,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,1009977973942964226,blackarcintel,BlackArc Intel,False,NaN,NaN,https://t.co/6tuA2dVcLf,[]
4,4,2020-06-01T22:57:35+00:00,1267591151487418372,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,830407971565867008,RusticMahn,REDorDEAD!,False,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3273942,840674,2018-06-01T21:04:20+00:00,1002657120527966208,1002657120527966208,The best haiku in the world has only two sylla...,en,961027995019264000,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273943,840678,2018-06-01T21:02:59+00:00,1002656781955317760,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,961027995019264000,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273944,840859,2018-06-01T19:59:13+00:00,1002640730899210240,1002640730899210240,Everyone’s records will be broken one day but ...,en,366871249,Catchphrase_j,OG Polo shirt™,False,NaN,NaN,NaN,[]
3273945,840873,2018-06-01T19:53:19+00:00,1002639248602722304,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,349249475,GerberKawasaki,Ross Gerber,True,#tesla,NaN,NaN,[]
3273946,840977,2018-06-01T19:07:27+00:00,1002627705219584000,1002627705219584000,Tweet us your questions today for Elon to answ...,en,13298072,Tesla,Tesla,True,NaN,NaN,NaN,[]

In [13]:
df1 = df.iloc[: , 1:]

In [14]:
df1

,created_at,id_str,conversation_id_str,full_text,lang,user_id_str,user_name,user_full_name,user_verified,hashtags,mentions,urls,media
0,2020-06-01T22:59:51+00:00,1267591722126598144,1267591722126598144,I just got hired at Tesla! God is good.,en,247611935,J0rdan0re0,Jordy,False,NaN,NaN,NaN,[]
1,2020-06-01T22:59:49+00:00,1267591711905026048,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,160589441,pranasoddm,ますだんでぃー,False,#nowplaying,NaN,NaN,"[{""url"": ""https://pbs.twimg.com/media/EZdj8TtV..."
2,2020-06-01T22:58:40+00:00,1267591424628973574,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,578148290,RetroMusicVideo,Retro Music Videos,False,NaN,YouTube,https://t.co/9Lj4jvF8KR,[]
3,2020-06-01T22:58:21+00:00,1267591344299683841,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,1009977973942964226,blackarcintel,BlackArc Intel,False,NaN,NaN,https://t.co/6tuA2dVcLf,[]
4,2020-06-01T22:57:35+00:00,1267591151487418372,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,830407971565867008,RusticMahn,REDorDEAD!,False,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3273942,2018-06-01T21:04:20+00:00,1002657120527966208,1002657120527966208,The best haiku in the world has only two sylla...,en,961027995019264000,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273943,2018-06-01T21:02:59+00:00,1002656781955317760,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,961027995019264000,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273944,2018-06-01T19:59:13+00:00,1002640730899210240,1002640730899210240,Everyone’s records will be broken one day but ...,en,366871249,Catchphrase_j,OG Polo shirt™,False,NaN,NaN,NaN,[]
3273945,2018-06-01T19:53:19+00:00,1002639248602722304,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,349249475,GerberKawasaki,Ross Gerber,True,#tesla,NaN,NaN,[]
3273946,2018-06-01T19:07:27+00:00,1002627705219584000,1002627705219584000,Tweet us your questions today for Elon to answ...,en,13298072,Tesla,Tesla,True,NaN,NaN,NaN,[]

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   created_at           object
 1   id_str               int64
 2   conversation_id_str  int64
 3   full_text            object
 4   lang                 object
 5   user_id_str          int64
 6   user_name            object
 7   user_full_name       object
 8   user_verified        bool
 9   hashtags             object
 10  mentions             object
 11  urls                 object
 12  media                object
dtypes: bool(1), int64(3), object(9)
memory usage: 327.8+ MB

In [16]:
for a in (df['id_str'] == df1['conversation_id_str']):
    if(a==False): 
        print("False")
        break

In [17]:
df1 = df1.drop(['conversation_id_str'], axis=1)

In [18]:
df1

,created_at,id_str,full_text,lang,user_id_str,user_name,user_full_name,user_verified,hashtags,mentions,urls,media
0,2020-06-01T22:59:51+00:00,1267591722126598144,I just got hired at Tesla! God is good.,en,247611935,J0rdan0re0,Jordy,False,NaN,NaN,NaN,[]
1,2020-06-01T22:59:49+00:00,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,160589441,pranasoddm,ますだんでぃー,False,#nowplaying,NaN,NaN,"[{""url"": ""https://pbs.twimg.com/media/EZdj8TtV..."
2,2020-06-01T22:58:40+00:00,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,578148290,RetroMusicVideo,Retro Music Videos,False,NaN,YouTube,https://t.co/9Lj4jvF8KR,[]
3,2020-06-01T22:58:21+00:00,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,1009977973942964226,blackarcintel,BlackArc Intel,False,NaN,NaN,https://t.co/6tuA2dVcLf,[]
4,2020-06-01T22:57:35+00:00,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,830407971565867008,RusticMahn,REDorDEAD!,False,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...
3273942,2018-06-01T21:04:20+00:00,1002657120527966208,The best haiku in the world has only two sylla...,en,961027995019264000,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273943,2018-06-01T21:02:59+00:00,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,961027995019264000,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273944,2018-06-01T19:59:13+00:00,1002640730899210240,Everyone’s records will be broken one day but ...,en,366871249,Catchphrase_j,OG Polo shirt™,False,NaN,NaN,NaN,[]
3273945,2018-06-01T19:53:19+00:00,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,349249475,GerberKawasaki,Ross Gerber,True,#tesla,NaN,NaN,[]
3273946,2018-06-01T19:07:27+00:00,1002627705219584000,Tweet us your questions today for Elon to answ...,en,13298072,Tesla,Tesla,True,NaN,NaN,NaN,[]

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   created_at      object
 1   id_str          int64
 2   full_text       object
 3   lang            object
 4   user_id_str     int64
 5   user_name       object
 6   user_full_name  object
 7   user_verified   bool
 8   hashtags        object
 9   mentions        object
 10  urls            object
 11  media           object
dtypes: bool(1), int64(2), object(9)
memory usage: 302.9+ MB

In [20]:
df1 = df1.drop(['user_id_str'], axis=1)

In [21]:
df1

,created_at,id_str,full_text,lang,user_name,user_full_name,user_verified,hashtags,mentions,urls,media
0,2020-06-01T22:59:51+00:00,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False,NaN,NaN,NaN,[]
1,2020-06-01T22:59:49+00:00,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False,#nowplaying,NaN,NaN,"[{""url"": ""https://pbs.twimg.com/media/EZdj8TtV..."
2,2020-06-01T22:58:40+00:00,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False,NaN,YouTube,https://t.co/9Lj4jvF8KR,[]
3,2020-06-01T22:58:21+00:00,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False,NaN,NaN,https://t.co/6tuA2dVcLf,[]
4,2020-06-01T22:57:35+00:00,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False,NaN,NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...
3273942,2018-06-01T21:04:20+00:00,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273943,2018-06-01T21:02:59+00:00,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False,#OdeToMyCoffee,NaN,NaN,[]
3273944,2018-06-01T19:59:13+00:00,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False,NaN,NaN,NaN,[]
3273945,2018-06-01T19:53:19+00:00,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True,#tesla,NaN,NaN,[]
3273946,2018-06-01T19:07:27+00:00,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True,NaN,NaN,NaN,[]

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   created_at      object
 1   id_str          int64
 2   full_text       object
 3   lang            object
 4   user_name       object
 5   user_full_name  object
 6   user_verified   bool
 7   hashtags        object
 8   mentions        object
 9   urls            object
 10  media           object
dtypes: bool(1), int64(1), object(9)
memory usage: 277.9+ MB

In [23]:
df1 = df1.drop(['hashtags'], axis=1)

In [24]:
df1 = df1.drop(['mentions'], axis=1)

In [25]:
df1 = df1.drop(['urls'], axis=1)

In [26]:
df1 = df1.drop(['media'], axis=1)

In [27]:
df1

,created_at,id_str,full_text,lang,user_name,user_full_name,user_verified
0,2020-06-01T22:59:51+00:00,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False
1,2020-06-01T22:59:49+00:00,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False
2,2020-06-01T22:58:40+00:00,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False
3,2020-06-01T22:58:21+00:00,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False
4,2020-06-01T22:57:35+00:00,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False
...,...,...,...,...,...,...,...
3273942,2018-06-01T21:04:20+00:00,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False
3273943,2018-06-01T21:02:59+00:00,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False
3273944,2018-06-01T19:59:13+00:00,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False
3273945,2018-06-01T19:53:19+00:00,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True
3273946,2018-06-01T19:07:27+00:00,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3273947 entries, 0 to 3273946
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   created_at      object
 1   id_str          int64
 2   full_text       object
 3   lang            object
 4   user_name       object
 5   user_full_name  object
 6   user_verified   bool
dtypes: bool(1), int64(1), object(5)
memory usage: 178.0+ MB

In [29]:
df1['lang'].unique()

array(['en', 'tr', 'fr', 'de', 'et', 'ht', 'cy', 'nl', 'es', 'tl', 'ca',
       'in', 'da', 'no', 'pt', 'eu', 'sv', 'it', 'lv', 'und', 'vi', 'pl',
       'hu', 'cs', 'ja', 'is', 'hi', 'lt'], dtype=object)

In [30]:
df1_en = df1[df1['lang'] == 'en']

In [31]:
df1_en

,created_at,id_str,full_text,lang,user_name,user_full_name,user_verified
0,2020-06-01T22:59:51+00:00,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False
1,2020-06-01T22:59:49+00:00,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False
2,2020-06-01T22:58:40+00:00,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False
3,2020-06-01T22:58:21+00:00,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False
4,2020-06-01T22:57:35+00:00,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False
...,...,...,...,...,...,...,...
3273942,2018-06-01T21:04:20+00:00,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False
3273943,2018-06-01T21:02:59+00:00,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False
3273944,2018-06-01T19:59:13+00:00,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False
3273945,2018-06-01T19:53:19+00:00,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True
3273946,2018-06-01T19:07:27+00:00,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True

In [32]:
df1_en['lang'].unique()

array(['en'], dtype=object)

In [33]:
df1_en.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3268523 entries, 0 to 3273946
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   created_at      object
 1   id_str          int64
 2   full_text       object
 3   lang            object
 4   user_name       object
 5   user_full_name  object
 6   user_verified   bool
dtypes: bool(1), int64(1), object(5)
memory usage: 177.7+ MB

In [34]:
df1_en.reset_index(drop=True)

,created_at,id_str,full_text,lang,user_name,user_full_name,user_verified
0,2020-06-01T22:59:51+00:00,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False
1,2020-06-01T22:59:49+00:00,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False
2,2020-06-01T22:58:40+00:00,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False
3,2020-06-01T22:58:21+00:00,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False
4,2020-06-01T22:57:35+00:00,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False
...,...,...,...,...,...,...,...
3268518,2018-06-01T21:04:20+00:00,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False
3268519,2018-06-01T21:02:59+00:00,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False
3268520,2018-06-01T19:59:13+00:00,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False
3268521,2018-06-01T19:53:19+00:00,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True
3268522,2018-06-01T19:07:27+00:00,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True

In [35]:
df1_en.to_csv("Scrapped and Cleaned.csv", index=False)

In [36]:
df1_en.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3268523 entries, 0 to 3273946
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   created_at      object
 1   id_str          int64
 2   full_text       object
 3   lang            object
 4   user_name       object
 5   user_full_name  object
 6   user_verified   bool
dtypes: bool(1), int64(1), object(5)
memory usage: 177.7+ MB

In [42]:
df1_en['date'] = df1_en['created_at'].str.split('T').str[0]
df1_en['time'] = df1_en['created_at'].str.split('T').str[1].str.split('+').str[0]

C:\Users\DIYA PATEL\AppData\Local\Temp\ipykernel_19944\31420703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_en['date'] = df1_en['created_at'].str.split('T').str[0]
C:\Users\DIYA PATEL\AppData\Local\Temp\ipykernel_19944\31420703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_en['time'] = df1_en['created_at'].str.split('T').str[1].str.split('+').str[0]

In [43]:
df1_en

,created_at,id_str,full_text,lang,user_name,user_full_name,user_verified,date,time
0,2020-06-01T22:59:51+00:00,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False,2020-06-01,22:59:51
1,2020-06-01T22:59:49+00:00,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False,2020-06-01,22:59:49
2,2020-06-01T22:58:40+00:00,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False,2020-06-01,22:58:40
3,2020-06-01T22:58:21+00:00,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False,2020-06-01,22:58:21
4,2020-06-01T22:57:35+00:00,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False,2020-06-01,22:57:35
...,...,...,...,...,...,...,...,...,...
3273942,2018-06-01T21:04:20+00:00,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False,2018-06-01,21:04:20
3273943,2018-06-01T21:02:59+00:00,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False,2018-06-01,21:02:59
3273944,2018-06-01T19:59:13+00:00,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False,2018-06-01,19:59:13
3273945,2018-06-01T19:53:19+00:00,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True,2018-06-01,19:53:19
3273946,2018-06-01T19:07:27+00:00,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True,2018-06-01,19:07:27

In [44]:
df1_en.drop('created_at', axis=1, inplace=True)

C:\Users\DIYA PATEL\AppData\Local\Temp\ipykernel_19944\1395785934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_en.drop('created_at', axis=1, inplace=True)

In [45]:
df1_en

,id_str,full_text,lang,user_name,user_full_name,user_verified,date,time
0,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False,2020-06-01,22:59:51
1,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False,2020-06-01,22:59:49
2,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False,2020-06-01,22:58:40
3,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False,2020-06-01,22:58:21
4,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False,2020-06-01,22:57:35
...,...,...,...,...,...,...,...,...
3273942,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False,2018-06-01,21:04:20
3273943,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False,2018-06-01,21:02:59
3273944,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False,2018-06-01,19:59:13
3273945,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True,2018-06-01,19:53:19
3273946,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True,2018-06-01,19:07:27

In [50]:
# convert date column to datetime type
df1_en['date_column'] = pd.to_datetime(df1_en['date'])

# filter rows with year 2020
df_2020 = df1_en[df1_en['date_column'].dt.year == 2020]
df_2019 = df1_en[df1_en['date_column'].dt.year == 2019]
df_2018 = df1_en[df1_en['date_column'].dt.year == 2018]

C:\Users\DIYA PATEL\AppData\Local\Temp\ipykernel_19944\438798295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_en['date_column'] = pd.to_datetime(df1_en['date'])

In [49]:
df_2020

,id_str,full_text,lang,user_name,user_full_name,user_verified,date,time,date_column
0,1267591722126598144,I just got hired at Tesla! God is good.,en,J0rdan0re0,Jordy,False,2020-06-01,22:59:51,2020-06-01
1,1267591711905026048,tesla [mergrim mix] (Remastered 2020) - Spangl...,en,pranasoddm,ますだんでぃー,False,2020-06-01,22:59:49,2020-06-01
2,1267591424628973574,Tesla - Little Suzi https://t.co/9Lj4jvF8KR vi...,en,RetroMusicVideo,Retro Music Videos,False,2020-06-01,22:58:40,2020-06-01
3,1267591344299683841,"New post: ""Why Has Tesla Halved The Model Y De...",en,blackarcintel,BlackArc Intel,False,2020-06-01,22:58:21,2020-06-01
4,1267591151487418372,Meaning if you had a million units of Tesla yo...,en,RusticMahn,REDorDEAD!,False,2020-06-01,22:57:35,2020-06-01
...,...,...,...,...,...,...,...,...,...
1425463,1267553444706934784,Tesla Model 3 was California's best selling ca...,en,robertgelder,Robert Gelder,False,2020-06-01,20:27:45,2020-06-01
1425464,1267551166864461826,“Wow. Cops killed a black man. Look at this vi...,en,Dark_Tesla,Dark Tesla aka Tesla Von Doom,False,2020-06-01,20:18:42,2020-06-01
1425465,1267549030785200133,"If you want state of the art, drive yourself, ...",en,RichPelotona,🌹🐃🐑 #MeatMasterBali_HovProHoldings🌍🍻🔥🔌,False,2020-06-01,20:10:13,2020-06-01
1425466,1267534701889122305,nobody cares. when tf am i going to be able to...,en,chiweethedog,dr. sus,False,2020-06-01,19:13:17,2020-06-01
1425467,1267533908490534912,Elon Musk has achieved his boyhood dream of la...,en,CNN,CNN,True,2020-06-01,19:10:08,2020-06-01

In [51]:
df_2019

,id_str,full_text,lang,user_name,user_full_name,user_verified,date,time,date_column
1425468,1134957649450037248,"Why, when a hotel calls, are they callerid'd a...",en,lwaldal,Leanne Waldal,False,2019-06-01,22:59:24,2019-06-01
1425469,1134957372948996096,I get my #Tesla #Model3 on Tuesday!!! I’m so e...,en,NelsonsWay,Monica Rambeau Stan Account,False,2019-06-01,22:58:18,2019-06-01
1425470,1134957354712276995,"#tesla #supercharger in Evergreen Park, IL, US...",en,superchargefeed,Tesla Supercharger Updates,False,2019-06-01,22:58:14,2019-06-01
1425471,1134956807577718784,Great Earnings Numbers Push Facebook Stock Hig...,en,DebJohnsonWorks,Deborah Johnson,False,2019-06-01,22:56:04,2019-06-01
1425472,1134956742062870528,I can understand Tesla service mode being geof...,en,gerrior,Mark Gerrior,False,2019-06-01,22:55:48,2019-06-01
...,...,...,...,...,...,...,...,...,...
1785689,1189713529453961218,#Tesla has too much favoritism between shifts....,en,SpaghettiYeti6,SpaghettiYeti,False,2019-10-31,01:19:43,2019-10-31
1785690,1189713401536286723,Tesla Model 3 Survey: What Owners Think About ...,en,timothywpugh,Tim Pugh,False,2019-10-31,01:19:13,2019-10-31
1785691,1189713231109087234,Elon Musk warns of Tesla Self-Driving price in...,en,TechCheck_News,Tech Check News,False,2019-10-31,01:18:32,2019-10-31
1785692,1189712982059765760,Tesla's Shock And Awe https://t.co/u7fbcITSGi ...,en,BilalKuscu1,Bilal Kuscu,False,2019-10-31,01:17:33,2019-10-31
1785693,1189712816481026048,"I know #hov stickers are ugly, but cmon... app...",en,Esenbek_Aliev,Esenbek Aliev 🔋,False,2019-10-31,01:16:53,2019-10-31

In [52]:
df_2018

,id_str,full_text,lang,user_name,user_full_name,user_verified,date,time,date_column
1785694,1002686184626311171,Tesla is the company to watch someday in the n...,en,davidth27720806,David’s Thoughts,False,2018-06-01,22:59:50,2018-06-01
1785695,1002686059606618115,"tesla’s have a fuckin bio weapon defense mode,...",en,Deko405,David 🇪🇹,False,2018-06-01,22:59:20,2018-06-01
1785696,1002686058205728773,Is Tesla On The Verge Of Bankruptcy? https://t...,en,Schnitzskis,Steve Schnitzer,False,2018-06-01,22:59:19,2018-06-01
1785697,1002685938299006979,"#Cost To Build a #Tesla #Model 3 #Is $ 28,000 ...",en,visitor_z,Visitor_Z,False,2018-06-01,22:58:51,2018-06-01
1785698,1002685904568320001,Some people bought #Tesla . However I bought S...,en,aliasgarmg,Ali,False,2018-06-01,22:58:43,2018-06-01
...,...,...,...,...,...,...,...,...,...
3273942,1002657120527966208,The best haiku in the world has only two sylla...,en,Tesla_Starman,Starman,False,2018-06-01,21:04:20,2018-06-01
3273943,1002656781955317760,I love you hot\nI love you steamed\nI love you...,en,Tesla_Starman,Starman,False,2018-06-01,21:02:59,2018-06-01
3273944,1002640730899210240,Everyone’s records will be broken one day but ...,en,Catchphrase_j,OG Polo shirt™,False,2018-06-01,19:59:13,2018-06-01
3273945,1002639248602722304,Every time Tesla stock starts going up. The sh...,en,GerberKawasaki,Ross Gerber,True,2018-06-01,19:53:19,2018-06-01
3273946,1002627705219584000,Tweet us your questions today for Elon to answ...,en,Tesla,Tesla,True,2018-06-01,19:07:27,2018-06-01

In [54]:
df_2020.to_csv("2020.csv", index=False)

In [55]:
df_2019.to_csv("2019.csv", index=False)

In [56]:
df_2018.to_csv("2018.csv", index=False)