In [4]:
import pandas as pd

# Load the Tesla stock data into a pandas DataFrame
tesla_data = pd.read_csv('TSLA_2020_2021.csv', index_col='Date', parse_dates=True)

# Resample the data on business days
tesla_data = tesla_data.resample('B').last()

# Forward fill any missing data
tesla_data = tesla_data.ffill()

In [5]:
tesla_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-01,72.199997,75.688667,72.033333,74.641998,74.641998,199903500.0
2020-07-02,81.431999,81.866669,79.040001,80.577332,80.577332,258751500.0
2020-07-03,81.431999,81.866669,79.040001,80.577332,80.577332,258751500.0
2020-07-06,85.112663,91.852669,84.402664,91.438667,91.438667,308548500.0
2020-07-07,93.667336,95.300003,89.113998,92.657333,92.657333,322345500.0
...,...,...,...,...,...,...
2021-06-23,210.666672,219.066666,210.013336,218.856674,218.856674,93297600.0
2021-06-24,224.996674,232.539993,222.536667,226.606674,226.606674,137947200.0
2021-06-25,229.860001,231.270004,222.899994,223.956665,223.956665,97490100.0
2021-06-28,223.880005,231.566666,223.440002,229.573334,229.573334,64884600.0
2021-06-29,228.216660,229.169998,225.296661,226.919998,226.919998,52143900.0

In [6]:
tesla_data.to_csv("Stock_20 to 21.csv")